<html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <!-- <link rel="stylesheet" type="text/css" src="style.css"> -->
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <script src="/public/script.js"></script>

    <!-- <link rel="icon" type="image/png" href="./icon.png" /> -->
    <title>Random Swap</title>
</head>

<body>

    <header class="page-header" style="text-align: center;">About


    </header>
    <div style="text-align: center;">
        <p>Random Swap allows you to swap cryptocurrency randomly on the Ethereum/Ropsten network and Binance Smart Chain. </p>
        <p>It is powered by the 0x and 1INCH APIs, which allows us to swap coins without holding crytpo in liquidity pools.</p>
        <p>This site is in beta, so make sure you test on the Ropsten network before actually swapping your coins on the MainNet.</p>
        <br>
        <p>Tips:</p>
        <p>1. When swapping on ETH/Ropsten network, make sure your gas price and amount are high enough so you don't run out during the transaction.</p>
        <p>2. Please double check you have the correct network selected in MetaMask and on the website. </p>
        <p>3. MetaMask integration requires users to be on Desktop for this site to work.</p>
        <br>
        <p>Common Errors:</p>
        <p>Insufficient liquidity: Sometimes there is not enough liquidity for the swap, try to swap again.</p>
        <p>Transaction failed: This is mainly caused by the transaction running out of gas, make sure that you use enough gas when swapping. </p>
        <br>







        <!-- <button id="aboutButton" onclick="">About</button> -->
        <button id="backButton" onclick="window.location.href = '/';">Back</button>






    </div>








</body>

</html>