<html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <script src="/public/script.js"></script>
    <title>Buy Bitcoin</title>
</head>

<body>

    <header class="page-header" style="text-align: center;">Bitcoin Buy Recommendation</header>
    <div style="text-align: center;">
        <div class="exchange" id="exchange1">
            <h1>Blockchain.com</h1>
            <div class="price">
                <h1 id="price1"></h1>
            </div>
        </div>
        <div class="arrow">
            <h1 id="arrow"></h1>
        </div>
        <div class="exchange" id="exchange2">
            <h1>Cryptocompare.com</h1>
            <div class="price">
                <h1 id="price2"></h1>
            </div>
        </div>


    </div>
    <div style="text-align: center;">
        <p style="font-size: 50px;">The arrow points to the lowest price of Bitcoin.</p>
    </div>


</body>

</html>