@font-face {
    font-family: Delicious;
    src: url('./Trashfort-vmAX7.ttf');
}

body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/078/291/large_2x/crumpled-paper-background-free-photo.jpg");
    background-size: cover;
    font-weight: bolder;
    font-family: Delicious;
    /* text-align: center; */
}

header {
    font-size: 72px;
}

.price {
    display: inline-block;
    vertical-align: top;
    margin: 75px;
    margin-top: 0px;
    margin-bottom: 120px;
}

.exchange {
    display: inline-block;
    vertical-align: top;
    margin: 75px;
    margin-bottom: 10px;
    font-size: 20px;
}

.arrow {
    display: inline-block;
    vertical-align: top;
    margin-top: 110px;
    margin-bottom: 10px;
    font-size: 20px;
}